# macOS
.DS_Store
**/.DS_Store

# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.acn
*.acr
*.alg
*.xdv
*.figlist
*.makefile
*.figlist-*
*.auxlock
*.synctex.gz
*.synctex(busy)
*.pdfsync

# Editor / build dirs
.vscode/
_minted-*/
build/
out/
